@charset "utf-8";
main.mainBack{background: #f0f1f2;}
/* CSS Document */
.page_Text{ width:1140px; height:36px; line-height:36px;margin: 0 auto; padding:0px 5px;font-size:14px; color:#666666;}
.page_Text .fr a{ font-size:14px; color:#666666;}
.page_Text .fr a:hover{ font-size:14px; color:#df631f;}
.page_Text2{margin:0 auto; }

/*左侧栏目*/
.page_TLeft{ width:210px; text-align:center;}
.page_TLeft h1{font-size: 18px;font-weight: lighter;color: #ffffff;background:#183b7c; height: 50px;line-height: 50px; margin:0px ; padding:0px;text-align:center;}
.page_TLeft ul li{ height:41.5px; line-height:41.5px; font-size:14px; border-bottom:1px solid #e5e5e5; background:#ffffff; }
.page_TLeft ul li a{ font-size:14px; color:#444444;display: block; width: 100%; height:41.5px; transition:0.5s;background:url(../images/yuan2.png) no-repeat 0px center;}
.page_TLeft ul li a.active{color:#ffffff;background:#df631f url(../images/yuan2.png) no-repeat 40px center;}
.page_TLeft ul li:hover a{color:#ffffff;background:#df631f url(../images/yuan2.png) no-repeat 40px center;}

.wap_title h1{background:#df621f; border-top-left-radius:3px;border-top-right-radius:3px;}
.wap_title ul{ background-color:#ffffff;}
.wap_title ul li{ background:none; height:41.5px; line-height:41px; text-align:left; text-indent:40px;}
.wap_title ul li:hover a{ height:41.5px;background:#e4e9ef; color:#173b77;}
.wap_title ul li a.current1{ height:41.5px;background:#e4e9ef; color:#173b77;}

/*右侧列表*/
.page_TRight{  text-align:left;background:#ffffff; margin-top:0px;}
.page_TRight1{ width:1200px; text-align:left; line-height:40px; margin:0 auto;background:#ffffff;}
.page_TRT { height:90px; line-height:100px; font-size:24px; color: #183b7c; text-align: center; background: url(../images/hr.png) center 51px no-repeat;}
.page_TRT1{height: auto;
    line-height: 40px; background:none;
    font-size: 24px;
    color: #183b7c;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 9px;
    width: 90%;
    margin: auto;}
.page_TRT .fl{ font-size:18px; font-weight:bold;}
.page_TRT .fr a{ font-size:14px; color:#444444;}
.page_TRT .fr a:hover{ font-size:14px; color:#df631f;}

.map_right{ background:none; text-align:left; font-size:14px; color:#444;}
.map_right ul{ margin-left:26px; height:35px; line-height:35px;}
.map_right ul li{ float:left; margin-left:15px;}
.map_right ul li a{ display:block; background-color:#f3f3f5; color:#444; float:left; padding-left:15px; padding-right:15px; border-radius:3px; height:35px; line-height:35px;}
.map_right ul li a:hover{ background-color:#e26022; color:#ffffff;}
.map_right ul li a.current2{ background-color:#e26022; color:#ffffff;}

/*列表页模式*/
.page_TRT2{ font-size:14px; padding:0px 10px; text-align:justify; margin-top: -5px;}
.page_TRT2 h3{ width: 1180px;text-align:center; overflow: hidden; font-size: 24px; color: #333333; font-weight: initial;height: 60px; line-height: 80px;}
.page_TRT2_Time{ text-align:center;border-bottom: 1px solid #eeeeee; padding-bottom: 15px;}
.page_TRT2_share{ margin-top:20px; font-size:14px;}
.page_TRT2_share .fl a{ color:#444444;}
.page_TRT2_share .fl a:hover{ color:#df631f; border-bottom:1px solid #df631f;}

.page_TRT3{ font-size:14px; padding:0px 25px; }
.page_TRT3 ul{ padding-bottom: 20px; min-height:525px;}
.page_TRT3 ul li{ height:35px; line-height:35px; display:block;font-size:14px;    background: url(../images/yuan.png) 2px 17px no-repeat;
    text-indent: 19px;}
.page_TRT3 ul li a{ font-size:14px; color:#444444;}
.page_TRT3 ul li a:hover{ color:#df631f;}
.page_TRT3 ul li .fr{ color:#999999;}
.page_TRT3 ul li img{ padding: 16px 0px 0px 0px;}
.page_TRT3 ul p{line-height:28px; text-indent:2em; text-align:justify; color:#585858; font-size:14px; padding:0px 30px 15px 30px;}

/*翻页*/
.page_List { margin: auto;font-size: 14px;color: #226ebc;text-align: center;height: 75px;line-height: 75px; padding-bottom: 10px;}
.page_List span{padding: 10px;border: 1px solid #dddddd;}
.page_List a{ color: #226ebc;}
.page_List a:hover{ color:#df631f;}

/*图片模式*/
.page_TRT4{ line-height: 24px;padding: 16px 0px 28px 0px;font-size: 14px;}
.page_TRT4Img ul li {float: left;display: inline;width: 205px; height: 250px;text-align: center;  margin-left: 10px;}
.page_TRT4Img ul li a{ color: #585858;}
.page_TRT4Img ul li p {background-color: #f9f8fd; margin: 0; padding: 10px; text-align: left; font-size: 13px; font-weight: normal;}
.page_TRT4Img ul li a:hover p{color:#df631f;}
.page_TRT4Img ul li p span{ font-size: 10px; color:#a0a0a0;}
.page_TRT4Img ul li img{ display: block;width: 205px;height: 160px;transition:all ease 1.0s;}
.page_TRT4Img ul li:hover img{ transform: scale(0.8);}

/*延伸阅读*/
.information .relevant {height: 24px;border-bottom: 1px solid #c8c8c8;}
.information .relevant p {font: 16px/24px "微软雅黑"; font-weight:bold;border-bottom: 1px solid #5086e7;width: 80px;text-align: center;margin-left: 40px;}
.information ul {width: 1000px;margin: auto;height: 160px;margin-top: 10px;}
.information ul li {height: 30px;border-bottom: 1px dashed #ddd;}
.information ul li a {font: 12px/28px "微软雅黑";color: #333;padding-left: 5px;float: left;}
.information ul li a:hover {font: 12px/28px "微软雅黑";color: #df631f;padding-left:5px;float: left;}
.information ul li span {font: 12px/28px "微软雅黑";color: #666;float: right;}

/*内容页正文*/
.page_Content{width: 1200px; height: auto; margin: 0 auto;background: #ffffff;}
.page_Content_Title{width: 90%;overflow: hidden; margin:auto;  padding: 25px 15px 3px 15px;}
.page_Content_Title span{font-size: 24px;color: #333333; height: 70px; line-height:40px;font-weight: initial;font-family:"黑体";}
.page_Content_Title p{text-align:center;border-bottom: 1px solid #eeeeee; padding-bottom: 15px; font-size:14px; color:#666666; width:100%;}
.page_Content_pptext{line-height:28px; text-indent:2em; text-align:justify; color:#585858; font-size:14px; width:90%; margin:auto; min-height:450px;}
.page_Content_pptext img{width: 800px; height: auto; margin: 0 auto; display: table-cell; margin-top:10px;}
table,table tr th, table tr td { border:1px solid #cccccc; }
table { width:100%; min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse; padding:2px; margin: 0 auto;}

.cs_fx {
    width: 90%;
    text-align: center;
    height: 38px;
    line-height: 38px;
    margin: 0 auto;
    padding: 15px 0px;
    border-top: 1px solid #eeeeee;
}
.cs_fx .n1 {
    margin-right: 20px;
    font-size: 14px;
    color: #666666;
}
.cs_fx .n1:hover {
    color: #df631f;
}

